:root{
    --brand-color: #8958FF;
    --brand-paper:#FFE3BD;
    --dark-10:#000014;
    --white:#f1f1f1;
    --gray: #f1f1f150
}

h1,p {
    color: var(--brand-color);
}

body{
    background-color: var(--dark-10);
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 500px;

    padding: 60px;

    border: 3px solid var(--gray);
    border-radius: 10px;

    background-color: var(--brand-paper);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login-input{
    padding: 10px;
    height: 40px;
    max-width: 350px;
    font-size: 1.4rem;
    background-color: var(--brand-color);
    border-radius: 10px;
    border: 1px solid var(--gray);
    color: var(--white);
}

::-webkit-input-placeholder{
    color: var(--gray);
}

.login-btn{
    padding: 10px;
    max-width: 350px;
    height: 40px;
    font-size: 1.4rem;
    background-color: var(--brand-color);
    border-radius: 10px;
    border: 1px solid var(--gray);
    color: var(--white);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:disabled{
    background-color: var(--white);
    color: var(--brand-color);
    cursor: auto;
}