*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.content-header .btn{
    border: none;
    background-color: blueviolet;
}

.content-header .btn:hover{
    border: 1px solid blueviolet;
    background-color: #fff;
    color: blueviolet;
}

